/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* common styles  */
body {
    font-family: 'Poppins', sans-serif;
}

.half-width {
    width: 50%;
}

/* header design start from here  */
header {
    margin-top: 20px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 70px;
    align-items: center;
}

.nav-title {
    width: 243px;
    height: 52px;
    margin-left: 5px;
}

.nav-heading {
    color: #3A3A3A;
    margin-top: 10px;
}

.nav-menu ul {
    display: flex;
    justify-content: right;
}

.nav-menu ul li {
    list-style-type: none;
    margin-left: 20px;

}

.nav-menu ul li a {
    text-decoration: none;
    color: #3A3A3A;
    padding: 3px 10px;
    font-size: 16px;
    font-weight: 600;

}

/* header design ends from here  */

/* bloger section start from here  */

.first-section {

    /* width: 1195px;
    justify-content: center; */
}

.first-section-container {
    display: flex;
    justify-content: center;
    width: 1190px;
    margin: 35px auto;
    align-items: center;
}

.bloger-info h2{
    color: #3A3A3A;
    font-weight: bold;
    font-size: 52px;
    
}
.bloger-info p{
    color: #3A3A3A;
    font-size: 16px;
    line-height: 24px;
}
.bloger-info a{
    color: white;
    background-color: #e61890;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 35px;
}
.bloger-info a .fas{
    margin-left: 10px;
}


.bloger-img img {
    width: 440px;
    height: 414px;
}

.bloger-image{
    margin-left: 100px;
}